[submodule "Grayjay.Engine.Temp"]
	path = Grayjay.Engine
	url = ../Grayjay.Engine.git
[submodule "FUTO.MDNS"]
	path = FUTO.MDNS
	url = ../FUTO.MDNS.git
[submodule "Grayjay.Engine"]
	path = Grayjay.Engine
	url = ../Grayjay.Engine.git
[submodule "JustCef"]
	path = JustCef
	url = ../JustCef.git
[submodule "SyncServer"]
	path = SyncServer
	url = ../syncserver.git
