
.container {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.descriptor {
    width: 60%;
}
.descriptor.isSub{
    width: calc(60% - 30px);
    margin-left: 20px;
}
.descriptor .title {
    color: #FFF;
    leading-trim: both;
    text-edge: cap;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 133.333% */
    margin-bottom: 8px;
}
.descriptor.isSub .title{
    font-size: 16px;
    margin-bottom: 8px;
}
.descriptor .description {
    color: #8C8C8C;
    leading-trim: both;
    text-edge: cap;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 16px; /* 114.286% */
}
.descriptor.isSub .description {
    font-size: 14px;
}
.value {
    flex-grow: 1;
    vertical-align: middle;
    text-align: left;
    align-self: center;
    text-align: right;
    margin-right: 10px;
}