

.container {
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.container:focus-visible {
    background: #454545;
    border-radius: 6px;
}
.descriptor {
    width: 60%;
}
.descriptor .title {
    color: #FFF;
    leading-trim: both;
    text-edge: cap;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 133.333% */
}
.descriptor .description {
    color: #8C8C8C;
    leading-trim: both;
    text-edge: cap;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 16px; /* 114.286% */
}
.value {
    flex-grow: 1;
    vertical-align: middle;
    text-align: left;
    align-self: center;
    text-align: right;
    margin-right: 10px;
}