.containerGroup {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  overflow: hidden;
  gap: 8px;
  width: 100%;
}

.containerButton {
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;

  flex-shrink: 0;
  height: 100px;
  width: 80px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  color: #FFF;
  gap: 4px;
  padding: 10px;

  border-radius: 6px;
  box-sizing: border-box;
  background: #1B1B1B;

  overflow: hidden;
}

.containerButton:hover {
  cursor: pointer;
  background: white;
  color: #141414;
  outline: unset;
}

.containerButton:focus-visible {
  background: white;
  color: #141414;
  outline: unset;
}

.containerButton.active {
  background: #2E2E2E;
  color: #FFF;
}

.containerButton.active:hover {
  background: white;
  color: #141414;
  outline: unset;
}

.containerButton.active:focus-visible {
  background: white;
  color: #141414;
  outline: unset;
}

.icon {
  width: 48px;
  height: 48px;
  object-fit: contain;
  flex-shrink: 0;
  display: block;
}

.text {
  margin-top: 6px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}
